<div class="editor-header">
  <h2>
    @if (editForm.controls.id.value !== null) {
      Editar álbum
    } @else {
      Nuevo álbum
    }
  </h2>
</div>

<form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm" class="album-editor">
  <div class="album-editor-card">
    @if (editForm.controls.id.value !== null) {
      <div class="section">
        <h3>Identificador</h3>

        <div class="field">
          <label>ID</label>
          <input type="number" formControlName="id" readonly />
        </div>
      </div>
    }

    <div class="section">
      <div class="cover-preview">
        @if (coverPreviewUrl) {
          <img [src]="coverPreviewUrl" />
        } @else {
          <div class="cover-placeholder">Sin portada</div>
        }
      </div>

      <div class="file-upload">
        <label>Cover</label>

        <div class="file-upload-box">
          <button type="button" class="btn-upload" (click)="coverInput.click()">Seleccionar archivo</button>

          <span class="file-name">
            {{ selectedCover?.name ?? 'Ningún archivo seleccionado' }}
          </span>

          <input #coverInput type="file" hidden (change)="onCoverSelected($event)" accept="image/png,image/jpeg,image/webp" />
        </div>
      </div>

      <div class="field">
        <label>Título</label>
        <input type="text" formControlName="title" />
      </div>
      <div class="field">
        <label>Género</label>
        <select formControlName="genre">
          <option [ngValue]="null"></option>
          @for (genreOption of genresSharedCollection(); track $index) {
            <option [ngValue]="genreOption">{{ genreOption.name ?? genreOption.id }}</option>
          }
        </select>
      </div>
      <div class="field">
        <label>Tipo de álbum</label>
        <select formControlName="albumType">
          <option [ngValue]="null"></option>
          @for (albumTypeOption of albumTypeValues; track $index) {
            <option [ngValue]="albumTypeOption">{{ albumTypeOption }}</option>
          }
        </select>
      </div>
    </div>
    <div class="form-actions">
      <button type="button" class="btn btn-secondary" (click)="previousState()">Cancelar</button>

      <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid || isSaving()">Guardar</button>
    </div>
  </div>
</form>
